
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
    
@layer components{
    /*  desitnation section  */
    .destinatontextheading{
        @apply  text-lg md:text28pxSH text-white absolute left-8 lg:left-40 top-20 lg:top-32;
    }
    .destinatonimage{
        @apply   absolute -z-10 left-1/3 lg:left-32 bottom-auto lg:top-auto top-28 lg:bottom-11 w-3/12;
       }
    .textContainer{
        @apply px-5 md:px-0 flex flex-col items-center lg:items-start w-full md:w-1/2 lg:w-1/4 absolute md:right-1/4 lg:right-1/4 bottom-0 lg:bottom-1/4;
    }
    /*  Crew Section */
   .crewtextContainersubhead{
       @apply md:mb-5 text-lg md:text28pxLetterspaceH lg:text32pxH text-white;
   }
   .crewTextContainerHeading{
       @apply md:mb-7 text-2xl md:text32pxH lg:text56pxH text-white;
   }
   .crewTextContainerP{
    @apply md:mb-3 text-xs md:text14pxSH lg:text18pxP text-gray-300;
   }

   /*  Technology section */
   .technologyTextContainerSubheading{
     @apply md:mb-6 text-sm md:text16pxSH text-white;
   }
   
   .technologyTextContainerHeading{
    @apply md:mb-4 text-2xl md:text56pxH text-white;
   }
   .technologyTextContainerP{
     @apply md:text-center md:text-left text-sm md:text18pxP text-gray-300;
   }

}


@layer utilities{
    /*  Thmeme Colore */
    .spacethemeSlatColor{
        background: #0B0D17;
    }
    .spacethemeGrayColor{
        background: #0B0D17;
    }

/*  theme font family */
    .themeFontbellefire{
        font-family: 'Bellefair';
    }
    .themeFontBarlow{
        font-family: 'Barlow';
    }
/*   Theme text heading  */
    .text150pxH{
        font-size: 150px;
        font-family: 'Bellefair';
    }
    .text100pxH{
        font-size: 100px;
        font-family: 'Bellefair';
    }
    .text56pxH{
        font-size: 56px;
        font-family: 'Bellefair';
    }
    .text32pxH{
        font-size: 32px;
        font-family: 'Bellefair';
    }
    .text28pxLetterspaceH{
        font-size: 28px;
        font-family: 'Barlow';
        letter-spacing: 4.725px;
    }
/*  theme text sub heading  */
.text28pxSH{
    font-size: 28px;
    font-family: 'Barlow Condensed';
}
.text18pxP{
    font-size: 18px; 
    font-family: 'Barlow Condensed';
}
.text16pxSH{
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: 'Barlow Condensed';
}
.text14pxSH{
    font-size: 14px;
    letter-spacing: 2.35px;
    font-family: 'Barlow Condensed';
}
.themeBlur{
background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.7742px);
}
.borderwidth48{
    outline: 88px solid gray;
}

}
